body {
  background-color: #20B2AA;
  width: 100%;
  text-align: center;
}

.intro p {
  font-style: normal;
  font-size: 30px;
}
.Header img {
  width: 100%;
  height: 300px;
  margin-bottom: 5%;
}
.Body {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  margin-top: 5%;
}
.Body h1 {
  font-size: 40px;
  text-align: center;
}
.Body h2 {
  font-size: 35px;
}
.buttons {
  align-items: stretch;
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}

p {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}
#Footer {
  background-color: white;
  font-size: 20px;
  margin-top: 10%;
  width: 100%;
  height: 70px;
  background-size: cover;

}
